<launch>
    <arg name="demands_topic" default="listen" />
    <arg name="say_topic" default="say" />
    <arg name="path_to_media" default="spot/nurse/media" />


    <node pkg="nurse" name="VoicePlayer" type="voice_player.py" output="screen">
        <param name="demands_topic" value="$(arg demands_topic)" />
        <param name="say_topic" value="$(arg say_topic)" />
        <param name="path_to_media" value="$(arg path_to_media)" />
    </node>
</launch>
