<launch>
    <node pkg="SPOT" name="AudioListener" type="audioListener.py" output="screen">
        <param name="samplerate" value="16000" />
    </node>
    <node pkg="SPOT" name="AudioTranslator" type="audioTranslator.py" output="screen"/>
    <node pkg="SPOT" name="TextInterpreter" type="textInterpreter.py" output="screen"/>
</launch>